@model Splatter.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Back to List", "Index", new { projectid = ViewBag.pid })
</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="col col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.OwnerUserName)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.Updated)
            @Html.HiddenFor(model => model.Title)
            @Html.HiddenFor(model => model.Description)
            @Html.HiddenFor(model => model.ProjectId)
            @Html.HiddenFor(model => model.AssignedToUserName)
            @Html.HiddenFor(model => model.OwnerUserName)
            @Html.HiddenFor(model => model.TypeId)
            @Html.HiddenFor(model => model.PriorityId)
            @Html.HiddenFor(model => model.StatusId)
            

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Updated, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.EditorFor(model => model.Updated, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Updated, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProjectId, "Project", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TypeId, "Type", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.DropDownList("TypeId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PriorityId, "Priority", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.DropDownList("PriorityId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.PriorityId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StatusId, "Status", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerUserName, "Owner", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.DropDownList("OwnerUserName", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.OwnerUserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AssignedToUserName, "Assigned To", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-offset-4">
                    @Html.DropDownList("AssignedToUserName", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.AssignedToUserName, "", new { @class = "text-danger" })
                </div>
            </div>

            
        </div>
        @*Add tables for Ticket Comments, Attachments, and History*@
        <div class="col-md-7 col-md-offset-1">
            <div class=" form-group">
                <h4>Ticket Comments</h4>
                <table>
                    <tr>
                        <th class="col-md-4">
                            Date Created
                        </th>
                        <th class="col-md-4">
                            Created By
                        </th>
                        <th class="col-md-4">
                            Teaser
                        </th>
                        <th class="col-md-4">
                        </th>
                    </tr>
                    @foreach (var item in Model.TicketComments)
                    {
                        <tr>
                            <td class="col-md-4">
                                @item.Created.LocalDateTime
                            </td>
                            <td class="col-md-4">
                                @item.BTUser.DisplayName
                            </td>
                            <td class="col-md-4">
                                @if (item.Comment.Length < 25)
                                {
                                    @item.Comment
                                }
                                else
                                {
                                    @item.Comment.Substring(0, 24)
                                }
                            <td class="col-md-4">
                                @Html.ActionLink("Details", "Details", "TicketComments", new { id = item.Id, project = ViewBag.pid }, null)
                            </td>
                        </tr>
                    }
                </table>
                <div>
                    <br />                    
                </div>
                <hr />
            </div>
            <div class="form-group">
                <h4>Ticket Attachments</h4>
                <table>
                    <tr>
                        <th class="col-md-4">
                            Date Created
                        </th>
                        <th class="col-md-4">
                            Created By
                        </th>
                        <th class="col-md-4">
                            Filename
                        </th>
                        <th class="col-md-4">
                        </th>
                    </tr>
                    @foreach (var item in Model.TicketAttachments)
                    {
                        <tr>
                            <td class="col-md-4">
                                @item.Created.LocalDateTime
                            </td>
                            <td class="col-md-4">
                                @item.BTUser.DisplayName
                            </td>
                            <td class="col-md-4">
                                <a href="@Url.Content(item.FileUrl)" target="_blank">@item.FileUrl.Substring(6)</a>
                            <td class="col-md-4">
                                @Html.ActionLink("Details", "Details", "TicketAttachments", new { id = item.Id, project = ViewBag.pid }, null)
                            </td>
                        </tr>
                    }
                </table>
                <div>
                    <br />
                   </div>
                <hr />
                    <div class="form-group">
                        <h4>Ticket History</h4>
                        <table>
                            <tr>
                                <th class="col-md-4">
                                    Date Created
                                </th>
                                <th class="col-md-4">
                                    Created By
                                </th>
                                <th class="col-md-4">
                                    Property
                                </th>
                                <th class="col-md-4">
                                    Old Value
                                </th>
                                <th class="col-md-4">
                                    New Value
                                </th><th class="col-md-4">
                                    Changed By 
                                </th>
                            </tr>
                            @foreach (var item in Model.TicketHistories)
                            {
                                <tr>
                                    <td class="col-md-4">
                                        @item.Changed.LocalDateTime
                                    </td>
                                    <td class="col-md-4">
                                        @item.BTUser.DisplayName
                                    </td>
                                    <td class="col-md-4">
                                        @item.Property
                                    </td>
                                    <td class="col-md-4">
                                       @item.OldValue
                                    </td>
                                    <td class="col-md-4">
                                        @item.NewValue
                                    </td>
                                    <td class="col-md-4">
                                       @item.UserName
                                    </td>
                                </tr>
    @*@Html.ActionLink("Details", "Details", "TicketHistories", new { id = item.Id, project = ViewBag.pid }, null)*@
                            }
                        </table>
                        <div>
                        </div>
                        <hr />
                    </div>
                </div>
    </div>
</div>
}

<div class="col-md-10" style="margin-bottom:25px">
    @Html.ActionLink("Back to List", "Index", new { projectid = ViewBag.pid })
</div>


